/.metadata/*
/.recommenders/*
/PyCharm_Proyectos/inicial_aprendizaje/.idea/*
/.directory
/PyCharm_Proyectos/inicial_aprendizaje/.directory
/PyCharm_Proyectos/.directory
/PyCharm_Proyectos/inicial_kivy/.idea
/PyCharm_Proyectos/inicial_kivy/calculadora/.buildozer/
/.vscode/*
/.vscode/
/.vscode
